
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #37384E;
    font-family: 'Roboto', sans-serif;
}
main{
    background-color: #fff;
    border-radius: 10px;
    width: 30vw;
    height: 50vh;
    position: absolute;
    top: 28vh;  right : 55vh; left: 75vh;
}
img{
    margin: 30px;
}
h1{
    margin: 10px 0 10px 30px;
    font-size: 35px;
}
p{
    margin: 20px 0 10px 30px;
    justify-content: justify;
    font-size: 20px;
    color: #37384E;
}
span{
   color: black; 
   font-weight: bold;
}
.btn2{
    background-color: rgb(55,56,78);
    font-size: 30px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 9%;
    bottom: 6%;
    height: 5.5vh;
    width: 50vh;
    border-radius: 8px;
    border-color: transparent;
}
.btn2:hover{
    background-color: hsl(4, 100%, 67%);
    background-image: linear-gradient(to right,hsl(4, 100%, 67%),rgb(239, 125, 26));
    box-shadow: 0px 0px 15px 2px  hsl(4, 100%, 67%); 
}

@media screen and (min-width: 375px) and (max-width:768px) {
    body{
        background-color: #fff ;
    }
    main{
        width: 55vw;
        position: absolute;
        top: 35px;  right : auto; left : 50px;
    }
    img{
        margin: 30px;
    }
    h1{
        margin: 10px 0 10px 30px;
        font-size: 40px;
    }
    p{
        margin: 30px 0px 30px 30px;
        font-size: 25px;
        justify-content:justify;
    }
    .btn2{
        position: absolute;
        font-size: 32px;
        left: 9%;
        bottom: -60%;
        height: 6.5vh;
        width: 50vh;
    }
}